<div class="wrapper">
  <header class="header">
    <h2 class="title">Viviana Montoya Auriculoterapia</h2>
    <button class="logout-button" (click)="authService.logout()">
      Cerrar Sesión
    </button>
  </header>

  @if (patientsService.patients().length > 0) {
  <div class="filters">
    <div class="form-group">
      <label for="ID">Buscar por cédula</label>
      <div>
        <input
          (keyup.enter)="searchById()"
          (keypress)="patientsService.onKeyPress($event)"
          [(ngModel)]="searchIdQuery"
          id="ID"
          type="text"
          placeholder="Cédula"
        />
        <button (click)="searchById()">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Buscar por nombre</label>
      <div>
        <input
          (keyup.enter)="searchByName()"
          [(ngModel)]="searchNameQuery"
          id="name"
          type="text"
          placeholder="Nombre"
        />
        <button (click)="searchByName()">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Buscar por sexo</label>
      <div>
        <select
          (change)="searchByGender()"
          [(ngModel)]="searchGenderQuery"
          id="gender"
          type="text"
        >
          <option value="all">Todos</option>
          <option value="MALE">Hombres</option>
          <option value="FEMALE">Mujeres</option>
        </select>
        <button (click)="searchByGender()">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
    </div>

    <button (click)="viewPatientForm('NEW')" class="btn-primary">
      Crear nuevo paciente
    </button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Teléfono</th>
          <th>Sexo</th>
          <th>Próxima cita</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (patient of patientsService.patients(); track $index) {
        <tr>
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.phone }}</td>
          <td>{{ patient.gender == "MALE" ? "Hombre" : "Mujer" }}</td>
          <td>
            {{
              patient.nextAppointment
                ? patient.nextAppointment
                : "No tiene próximas citas"
            }}
          </td>
          <td style="width: 8rem">
            <button
              (click)="viewPatientForm('TO_UPDATE', patient)"
              class="btn-edit-patient"
              title="Actualizar paciente"
            >
              <span class="material-symbols-outlined"> edit_note </span>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div id="alert-no-list">
    <div>
      <span class="material-symbols-outlined"> error </span>
      <h3>No hay pacientes activos en la aplicación</h3>
    </div>

    <button (click)="viewPatientForm('NEW')" class="btn-primary">
      Crear nuevo paciente
    </button>
  </div>
  }
</div>

@if (isNewPatientForm) {
<patient-form
  (updatePatient)="updatePatient($event)"
  (savePatient)="createPatient($event)"
  (close)="closePatientForm()"
  [isNewPatient]="isNewPatientInForm"
  [patientToUpdate]="patientToUpdate"
></patient-form>
}

<!--  -->
@if (isNotification) {
<app-notification
  (close)="closeNotification()"
  [message]="message"
  [duration]="7000"
  [type]="NotificationType"
></app-notification>
}
